<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <p>
        <ion-button (click)="itemSelected()">itemSelected
          ---------------------------++++++++++++++++++++++++++++++++</ion-button>
      </p> -->
        <!-- <h1>updated version</h1>-->
        <ion-button (click)="performManualUpdate()">Perform manual update</ion-button>
        <span *ngIf="updateStatus!=''">{{updateStatus}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="itemSelected()">itemSelected</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button (click)="checkinternet()">checkinternet</ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <b>this is update for others</b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>